/* Ini CSS */

/* Body Main */
.main-header {
    text-align: center;
    background-color: rgb(209, 255, 220);
    padding: 8px;
}

main {
    display: flex;
    gap: 48px;
    padding: 16px
}

input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

form {
    background-color: #7fffd4;
    padding: 10px;
}
#BMI-form {
    background-color: #cacaca;
    border-radius: 12px;
}
#form-label-left {
    padding: 2px;
    padding-bottom: 12px;
}
.form-group {
    display: flex;
    flex-direction: column;
    padding-bottom: 8px;
    cursor: text;
}
.result-cont-r {
    padding: 12px;
    text-align: center;
    border-radius: 12px;
    background-color: #ddfdff;
}

/* Button */
button {
    border: none;
    padding: 4px;
    color: whitesmoke;
}

.button-hitung {
    background-color: rgb(60, 122, 255);
    padding: 10px;
    border-radius: 10%;
    cursor: cell;
}
.button-reset {
    background-color: crimson;
    padding: 10px;
    border-radius: 10%;
    cursor: pointer;
}


#result-BMI {
    font-size: xxx-large;
    font-family: math;
}

/* Foot */
footer {
    text-align: center;
}