/* Global Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

h1 {
    color: #12b355;
}
h2, h3 {
    color: #2c3e50;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Header */
.main-header {
    background-color: #34495e;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-bottom: 30px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.main-header h1 {
    margin: 0;
    font-size: 2.5rem;
}

/* Main Layout */
main {
    display: flex;
    gap: 24px;
    justify-content: center;
    padding: 20px;
}

/* Left Section */
section {
    flex: 1;
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Form Styles */
form {
    margin-top: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

input[type="number"] {
    width: 50%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#BMI-calc-form {
    text-align:left;
    background: #ffd4f4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.150);
    margin-bottom: 20px;
}

input[type="radio"] {
    margin-right: 5px;
}

/* Buttons */
button {
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button-hitung {
    background-color: #27ae60;
    color: #fff;
    margin-right: 10px;
    transition: background-color 0.3s ease;
}

.button-hitung:hover {
    background-color: #27ae5faf;
}

.button-reset {
    background-color: #e74c3c;
    color: #fff;
    transition: background-color 0.3s ease;
}

.button-reset:hover {
    background-color: #912c20;
}

/* Features Section */
.feature-info ul {
    list-style: none;
    margin: 15px 0;
}

.feature-info ul li {
    margin-bottom: 10px;
}

.feature-info p {
    font-size: 0.9rem;
    font-style: italic;
    color: #555;
}

/* Right Section (Result Section) */
.result-cont-r {
    text-align: center;
    background: #ecf0f1;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.result-cont-r header h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

#result-BMI {
    font-size: 3rem;
    font-weight: bold;
    color: #27ae60;
}

.download-result-button {
    background-color: #50aaff;
    color: #ffffff;
    -webkit-text-stroke-color: #006868;
    -webkit-text-stroke-width: 0.1px;
    margin-right: 10px;
    transition: background-color 0.3s ease;
}
.download-result-button:hover {
    background-color: #77ffff;
    color: rgb(255, 255, 255);
}

/* Footer */
footer {
    background-color: #34495e;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 30px;
    font-size: 0.9rem;
}
